src/main/resources/payments.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:element name="payments">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="payment" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id" type="xs:long"/>
                            <xs:element name="orderId" type="xs:long"/>
                            <xs:element name="amount" type="xs:decimal"/>
                            <xs:element name="method" type="xs:string"/>
                            <xs:element name="status" type="xs:string"/>
                            <xs:element name="provider" type="xs:string" minOccurs="0"/>
                            <xs:element name="cashReceived" type="xs:boolean" minOccurs="0"/>
                            <xs:element name="customer_id" type="xs:long" minOccurs="0"/>
                            <xs:element name="courier_id" type="xs:long" minOccurs="0"/>
                            <xs:element name="created_at" type="xs:dateTime" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
